<header class="py-3 pb-5">
	<a href="">
		<div id="home-button" class="container text-center">
			<h1 id="title" class="typewriter display-2 m-0 text-center"></h1>
		</div>
	</a>
</header>
<script src="/assets/js/typewriter.js"></script>
<script src="/assets/js/delay.js"></script>
<script>
	window.onload = () => {
		const title = document.getElementById("title");
		const homeButton = document.getElementById("home-button");
		const titleWriter = createTypewriter(
					title,
					{{ site.type_speed.slow }},
					{{ site.type_speed.fast }},
					{{ site.delete_speed.slow }},
					{{ site.delete_speed.fast }},
					{{ site.intro_delete_delay }},
					{{ site.cursor_flash_delay }});


		async function playIntro() {
			await titleWriter.type("{{ site.mistake_title }}");
			await delay(1000);
			await titleWriter.type("{{ site.title }}");
		}

		let currentText = ""
		let controller = null

		function changeTextIfNeeded(newText) {
			if (newText === currentText) return;
			titleWriter.setDeleteDelay({{ site.delete_delay }});

			currentText = newText;
			titleWriter?.cancel();
			controller = titleWriter.type(newText);
		}

		homeButton.addEventListener("mouseenter", () => {
			changeTextIfNeeded("{{ site.hover_title }}");
		});

		homeButton.addEventListener("mouseleave", () => {
			changeTextIfNeeded("{{ site.title }}");
		});

		playIntro();
	};
</script>
